body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1326px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:866px;
}
#u4845 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:430px;
  height:866px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
  background:inherit;
  background-color:rgba(43, 43, 46, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4847 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:110px;
  width:375px;
  height:56px;
}
#u4847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:111px;
  width:375px;
  height:19px;
}
#u4848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:138px;
  width:153px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u4850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
}
#u4851 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:136px;
  width:60px;
  height:22px;
}
#u4851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:145px;
  width:4px;
  height:4px;
}
#u4852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u4853 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:144px;
  width:7px;
  height:7px;
}
#u4853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4854 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:145px;
  width:4px;
  height:4px;
}
#u4854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:13px;
}
#u4855 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:142px;
  width:1px;
  height:12px;
}
#u4855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4856 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:142px;
  width:12px;
  height:12px;
}
#u4856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u4857 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:145px;
  width:5px;
  height:6px;
}
#u4857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4858 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:432px;
  width:241px;
  height:35px;
  font-family:'PingFang HK Regular', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:237px;
  word-wrap:break-word;
}
#u4859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4859 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:219px;
  width:373px;
  height:48px;
}
#u4859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u4860 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:219px;
  width:348px;
  height:1px;
}
#u4860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4861 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:182px;
  width:298px;
  height:25px;
}
#u4861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4862 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:231px;
  width:298px;
  height:25px;
}
#u4862_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4863 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:267px;
  width:373px;
  height:48px;
}
#u4863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4864 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:316px;
  width:373px;
  height:48px;
}
#u4864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4865 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:279px;
  width:298px;
  height:25px;
}
#u4865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4866 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:328px;
  width:298px;
  height:25px;
}
#u4866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u4867 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:267px;
  width:348px;
  height:1px;
}
#u4867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u4868 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:317px;
  width:348px;
  height:1px;
}
#u4868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u4869 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:231px;
  width:70px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u4869_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(235, 169, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 169, 60, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u4869.selected {
}
#u4869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u4870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u4870 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:370px;
  width:348px;
  height:1px;
}
#u4870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4871 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:114px;
  width:382px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  word-wrap:break-word;
}
#u4872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4872 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:10px;
  width:382px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  word-wrap:break-word;
}
#u4873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u4873 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:52px;
  width:261px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u4873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u4874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:169px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u4875 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:199px;
  width:832px;
  height:172px;
}
#u4876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  word-wrap:break-word;
}
#u4877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:0px;
  width:108px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u4878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:92px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u4879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:0px;
  width:96px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u4880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:127px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u4881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:0px;
  width:128px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u4882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:32px;
}
#u4882 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:0px;
  width:238px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:234px;
  word-wrap:break-word;
}
#u4883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:70px;
}
#u4883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:43px;
  height:70px;
  text-align:center;
}
#u4883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:39px;
  word-wrap:break-word;
}
#u4884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:70px;
}
#u4884 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:32px;
  width:108px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  word-wrap:break-word;
}
#u4885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:70px;
}
#u4885 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:32px;
  width:92px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:88px;
  word-wrap:break-word;
}
#u4886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:70px;
}
#u4886 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:32px;
  width:96px;
  height:70px;
  font-size:12px;
  color:#000000;
}
#u4886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:92px;
  word-wrap:break-word;
}
#u4887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:70px;
}
#u4887 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:32px;
  width:127px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:123px;
  word-wrap:break-word;
}
#u4888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:70px;
}
#u4888 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:32px;
  width:128px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:124px;
  word-wrap:break-word;
}
#u4889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u4889 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:32px;
  width:238px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:70px;
}
#u4890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:43px;
  height:70px;
  text-align:center;
}
#u4890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:39px;
  word-wrap:break-word;
}
#u4891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:70px;
}
#u4891 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:102px;
  width:108px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:104px;
  word-wrap:break-word;
}
#u4892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:70px;
}
#u4892 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:102px;
  width:92px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:88px;
  word-wrap:break-word;
}
#u4893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:70px;
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:102px;
  width:96px;
  height:70px;
  font-size:12px;
  color:#000000;
  line-height:normal;
}
#u4893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:92px;
  word-wrap:break-word;
}
#u4894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:70px;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:102px;
  width:127px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:123px;
  word-wrap:break-word;
}
#u4895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:70px;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:102px;
  width:128px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:124px;
  word-wrap:break-word;
}
#u4896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:102px;
  width:238px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:418px;
  width:832px;
  height:102px;
}
#u4898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u4899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:0px;
  width:146px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u4900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:32px;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:0px;
  width:433px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:429px;
  word-wrap:break-word;
}
#u4901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:0px;
  width:206px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:202px;
  word-wrap:break-word;
}
#u4902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:70px;
}
#u4902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:47px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:43px;
  word-wrap:break-word;
}
#u4903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:70px;
}
#u4903 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:32px;
  width:146px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:142px;
  word-wrap:break-word;
}
#u4904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:70px;
}
#u4904 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:32px;
  width:433px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:429px;
  word-wrap:break-word;
}
#u4905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
}
#u4905 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:32px;
  width:206px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4906 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:389px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u4907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4907 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:567px;
  width:77px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u4908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4908 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:604px;
  width:390px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:386px;
  word-wrap:break-word;
}
#u4909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4909 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:704px;
  width:140px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u4910 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:754px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4910_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u4910_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:18px;
}
#u4910_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u4911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u4911 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:807px;
  width:250px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u4912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4912 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:807px;
  width:280px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u4913 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:837px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4913_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u4913_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4913_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4914 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4914_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u4914_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:45px;
  width:18px;
  height:18px;
}
#u4914_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u4915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:80px;
}
#u4915 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:1031px;
  width:184px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:180px;
  word-wrap:break-word;
}
#u4916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:60px;
}
#u4916 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:1134px;
  width:267px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:263px;
  word-wrap:break-word;
}
#u4917 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:1111px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4917_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u4917_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:18px;
}
#u4917_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4918 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:1134px;
  width:280px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u4919 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:1164px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4919_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u4919_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4919_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4920 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:1194px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4920_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u4920_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:18px;
}
#u4920_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u4921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:66px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:14.1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4921 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1444px;
  width:302px;
  height:66px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  word-wrap:break-word;
}
#u4922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:60px;
}
#u4922 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:1235px;
  width:267px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:263px;
  word-wrap:break-word;
}
#u4923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4923 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:1235px;
  width:280px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u4924 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:1265px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4924_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u4924_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4924_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4925 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:1295px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4925_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u4925_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:18px;
}
#u4925_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u4926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:60px;
}
#u4926 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:1341px;
  width:267px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:263px;
  word-wrap:break-word;
}
#u4927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4927 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:1341px;
  width:280px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u4928 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:1371px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4928_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u4928_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4928_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4929 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:1401px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4929_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u4929_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:18px;
}
#u4929_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
}
#u4930 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:924px;
  width:250px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u4931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4931 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:924px;
  width:280px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u4932 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:954px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4932_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u4932_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4932_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4933 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:984px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4933_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u4933_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:18px;
}
#u4933_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
