body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:677px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:514px;
}
#u4934 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:194px;
  width:1px;
  height:513px;
}
#u4934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4935 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:119px;
  width:140px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u4936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4936 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:119px;
  width:140px;
  height:47px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u4937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:57px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4937 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:43px;
  width:577px;
  height:57px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:573px;
  word-wrap:break-word;
}
#u4938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4938 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:192px;
  width:122px;
  height:27px;
}
#u4938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u4939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4939 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:354px;
  width:122px;
  height:27px;
}
#u4939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u4940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4940 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:472px;
  width:122px;
  height:27px;
}
#u4940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u4941 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:381px;
  width:0px;
  height:0px;
}
#u4941_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u4941_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:79px;
  width:18px;
  height:18px;
}
#u4941_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u4942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4942 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:595px;
  width:122px;
  height:55px;
}
#u4942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u4943 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:499px;
  width:0px;
  height:0px;
}
#u4943_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:100px;
}
#u4943_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:84px;
  width:18px;
  height:18px;
}
#u4943_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u4944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4944 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:602px;
  width:122px;
  height:42px;
}
#u4944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:118px;
  word-wrap:break-word;
}
#u4945 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:623px;
  width:0px;
  height:0px;
}
#u4945_seg0 {
  border-width:0px;
  position:absolute;
  left:-253px;
  top:-4px;
  width:257px;
  height:8px;
}
#u4945_seg1 {
  border-width:0px;
  position:absolute;
  left:-259px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4945_text {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4946 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:258px;
  width:122px;
  height:27px;
}
#u4946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u4947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4947 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:320px;
  width:122px;
  height:41px;
}
#u4947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u4948 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:219px;
  width:0px;
  height:0px;
}
#u4948_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u4948_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:18px;
}
#u4948_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4949 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:285px;
  width:0px;
  height:0px;
}
#u4949_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u4949_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:23px;
  width:18px;
  height:18px;
}
#u4949_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
